/*
    [no title]
    Created at 2021
    Created by dog_punch
    CC BY-SA 3.0
*/

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;600;800&display=swap');

div#container-wrap {
    background: none;
}

a {
    color: #d60233;
}

div#header {
    height: 150px;
    box-sizing: border-box;
    z-index: 1;
}

div#header-extra-div-1 {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    overflow: hidden;
    background: #000;
}

div#header-extra-div-2 {
    top: 100%;
    height: 21px;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #212121;
    left: calc(50% - 50vw);
    width: 100vw;
    background: linear-gradient(to top, #000, #252525);
    position: absolute;
}

div#top-bar {
    top: 152px;
}

div#header-extra-div-1:before {
    content: '';
    z-index: 2;
    position: absolute;
    background: transparent;
    left: calc(50% - 250px);
    top: calc(100% - 37%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0px 130px 40px rgb(230 230 230 / 60%) inset, 0 0px 23px 4px rgb(232 232 232 / 60%) inset, 0 -10px 130px rgb(179 179 179 / 60%), 0 -590px 150px black inset;
}

div#header-extra-div-1:after {
    content: '';
    position: absolute;
    background: #000;
    left: calc(50% - 150px);
    top: calc(100% - 37%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 -30px 30px rgb(234 234 234 / 20%);
}

div#header-extra-div-1 span {
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    background: url(http://scp-jp-storage.wikidot.com/local--files/file:6057712-6-t8ik/logo.svg);
    background-size: cover;
    filter: invert(1)drop-shadow(0 0 5px #fff);
    top: 5px;
    opacity: .9;
}

#header h1 a span {
    display: none;
}

#header h1 a:before {
    content: '{$title}';
}

#header h1 a {
    font-family: 'Shippori Mincho B1', serif;
    color: rgb(214 214 214 / 83%);
    text-shadow: 0 0 5px rgb(214 241 241);
    padding: 0;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 45px;
    font-size: 35px;
    z-index: 10;
    letter-spacing: 0px;
    animation: header-a 10s ease-in-out 0s infinite both;
}

@keyframes header-a {
    85%,
    95% {
        color: rgb(214 214 214 / 83%)
    }
    90% {
        color: rgb(214 214 214 / 0%)
    }
}

#header h2,
#header-extra-div-3:after,
#header:before,
#header:after {
    position: absolute;
    z-index: 0;
    left: 1px;
    margin: 0;
    padding: 0;
    animation: blink linear infinite 10s both;
    font-family: 'Shippori Mincho B1', serif;
    color: rgb(255 255 255 / 50%);
    font-size: 9px;
    line-height: 1;
    top: 15px;
}

#header h2 span {
    display: none;
}

#header h2:before {
    content: '{$sub-1}';
}

@keyframes blink {
    90% {
        opacity: 0;
    }
    90.5% {
        opacity: 1;
    }
    91% {
        opacity: 1;
    }
    91.4% {
        opacity: 0;
    }
    92% {
        opacity: 1;
    }
    93% {
        opacity: 0;
    }
    93.5% {
        opacity: 1;
    }
    94% {
        opacity: 0;
    }
    100%,
    0% {
        opacity: 0;
    }
}

@media (max-width: 479px) {
    #header {
        max-width: none;
        width: 100%;
    }
}

#header-extra-div-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    overflow: hidden;
    z-index: 3;
}

#header-extra-div-3:after {
    content: '{$sub-2}';
    top: initial;
    bottom: 40px;
    left: initial;
    right: 5vw;
    animation-delay: 2s;
}

a#account-topbutton {
    color: transparent;
    font-size: 0px;
    padding: 0;
    border: none;
}

a#account-topbutton:before {
    content: '\f013';
    font-family: 'fontawesome';
    color: #000;
    font-size: 13px;
    display: inline-flex;
    width: 18px;
    background: rgb(255 255 255 / 90%);
    box-shadow: 0 0 5px #ccc;
    height: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

div#login-status {
    color: rgb(255 255 255 / 90%);
    top: 5px;
    right: 5px;
}

div#account-options {
    width: 17em;
    background: #000;
    border: 2px solid rgb(204 204 204);
    box-shadow: 0 0 4px rgb(255 255 255 / 50%);
}

#account-options ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#login-status ul a {
    color: inherit !IMPORTANT;
    background: inherit !IMPORTANT;
    text-decoration: none !IMPORTANT;
}

#account-options li {
    display: block;
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;
    transition: .3s ease-in-out;
}

#account-options li:hover {
    background: rgb(204 204 204);
    color: #000;
}

div#search-top-box {
    right: 5px;
    top: 30px;
    width: fit-content;
}

#search-top-box-form>input#search-top-box-input {
    box-sizing: border-box;
    height: 25px;
    padding: 0 3px;
    font-size: 80%;
    margin: 0;
    width: 80px;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 0;
    outline: none;
    z-index: 1;
    box-shadow: none !important;
    display: block;
    transition: .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#search-top-box-form>input.button.btn {
    font-size: 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 0%;
    height: 25px;
    margin: 0;
    margin-left: 7px;
    padding: 0;
    width: 22px;
    background: #353535;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M505%20442.7L405.3%20343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3%2044-79.7%2044-128C416%2093.1%20322.9%200%20208%200S0%2093.1%200%20208s93.1%20208%20208%20208c48.3%200%2092.7-16.4%20128-44v16.3c0%206.4%202.5%2012.5%207%2017l99.7%2099.7c9.4%209.4%2024.6%209.4%2033.9%200l28.3-28.3c9.4-9.4%209.4-24.6.1-34zM208%20336c-70.7%200-128-57.2-128-128%200-70.7%2057.2-128%20128-128%2070.7%200%20128%2057.2%20128%20128%200%2070.7-57.2%20128-128%20128z%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    outline: none;
    z-index: 1;
    box-shadow: none;
}

form#search-top-box-form {
    display: inline-flex;
    background: linear-gradient(to left, #000000, #434343);
    box-shadow: 0 0 3px rgb(255 255 255 / 30%);
    overflow: hidden;
    position: relative;
}

form#search-top-box-form:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -10px;
    bottom: -10px;
    right: 19px;
    width: 7px;
    background: #353535;
    transform: rotate(10deg);
}

#search-top-box-form>input#search-top-box-input:hover {
    width: 95px;
}

#search-top-box-form>input#search-top-box-input:focus {
    width: 120px;
}

body#html-body {
    overflow-x: hidden;
}

div#header-extra-div-3 span {
    width: 1px;
    display: block;
    opacity: .45;
    height: 1px;
    background: transparent;
    box-shadow: 1736px 1163px #FFF, 25px 536px #FFF, 374px 940px #FFF, 732px 1628px #FFF, 1092px 998px #FFF, 1554px 1365px #FFF, 840px 1165px #FFF, 903px 990px #FFF, 1213px 1425px #FFF, 103px 269px #FFF, 1618px 208px #FFF, 1088px 724px #FFF, 1597px 1696px #FFF, 109px 653px #FFF, 229px 917px #FFF, 302px 1905px #FFF, 639px 989px #FFF, 105px 880px #FFF, 1427px 1010px #FFF, 32px 1296px #FFF, 416px 160px #FFF, 1077px 756px #FFF, 1517px 617px #FFF, 872px 1748px #FFF, 1864px 150px #FFF, 1567px 121px #FFF, 893px 400px #FFF, 1728px 1031px #FFF, 152px 1846px #FFF, 646px 1787px #FFF, 1861px 1251px #FFF, 1173px 31px #FFF, 936px 71px #FFF, 855px 1660px #FFF, 694px 40px #FFF, 1017px 1428px #FFF, 839px 1520px #FFF, 360px 1607px #FFF, 1780px 777px #FFF, 1509px 1174px #FFF, 1785px 1005px #FFF, 1074px 1465px #FFF, 151px 742px #FFF, 684px 1962px #FFF, 97px 1546px #FFF, 729px 1732px #FFF, 1506px 616px #FFF, 1318px 1732px #FFF, 678px 817px #FFF, 1020px 610px #FFF, 1741px 843px #FFF, 1300px 1022px #FFF, 1596px 1619px #FFF, 1863px 599px #FFF, 1969px 1227px #FFF, 719px 1437px #FFF, 1084px 1992px #FFF, 913px 175px #FFF, 2000px 207px #FFF, 303px 1925px #FFF, 1615px 1442px #FFF, 1679px 1823px #FFF, 1790px 566px #FFF, 1924px 820px #FFF, 1815px 1715px #FFF, 1132px 1641px #FFF, 242px 545px #FFF, 913px 506px #FFF, 1402px 817px #FFF, 20px 924px #FFF, 1708px 1336px #FFF, 1349px 1169px #FFF, 749px 1171px #FFF, 1664px 884px #FFF, 1244px 1562px #FFF, 872px 1221px #FFF, 1697px 1935px #FFF, 1022px 800px #FFF, 448px 1093px #FFF, 1316px 1864px #FFF, 1458px 1594px #FFF, 376px 713px #FFF, 734px 1986px #FFF, 1757px 1338px #FFF, 45px 1812px #FFF, 745px 412px #FFF, 987px 338px #FFF, 1639px 1942px #FFF, 1128px 827px #FFF, 712px 1515px #FFF, 1026px 1575px #FFF, 1724px 292px #FFF, 1617px 1693px #FFF, 1105px 733px #FFF, 571px 298px #FFF, 491px 1894px #FFF, 536px 1902px #FFF, 847px 433px #FFF, 701px 97px #FFF, 1056px 1663px #FFF, 274px 1279px #FFF, 1804px 1461px #FFF, 705px 1264px #FFF, 965px 750px #FFF, 1912px 207px #FFF, 1184px 1035px #FFF, 1712px 1992px #FFF, 1040px 1545px #FFF, 1263px 577px #FFF, 767px 730px #FFF, 29px 1033px #FFF, 1528px 1942px #FFF, 192px 27px #FFF, 766px 807px #FFF, 895px 605px #FFF, 1975px 1771px #FFF, 1499px 1491px #FFF, 412px 326px #FFF, 816px 379px #FFF, 321px 1015px #FFF, 1577px 1231px #FFF, 1233px 623px #FFF, 1347px 1609px #FFF, 1408px 104px #FFF, 276px 1005px #FFF, 147px 332px #FFF, 395px 1460px #FFF, 1684px 1264px #FFF, 1773px 1071px #FFF, 669px 1111px #FFF, 462px 867px #FFF, 9px 182px #FFF, 1547px 1638px #FFF, 673px 235px #FFF, 1810px 1447px #FFF, 752px 1708px #FFF, 1643px 1804px #FFF, 1998px 455px #FFF, 673px 795px #FFF, 1580px 406px #FFF, 1474px 1038px #FFF, 1528px 1143px #FFF, 244px 1333px #FFF, 380px 988px #FFF, 1189px 516px #FFF, 232px 762px #FFF, 1774px 1331px #FFF, 645px 466px #FFF, 1422px 1581px #FFF, 1087px 907px #FFF, 73px 472px #FFF, 1281px 1159px #FFF, 605px 1122px #FFF, 1571px 1417px #FFF, 1319px 1854px #FFF, 564px 1981px #FFF, 1749px 1806px #FFF, 321px 1533px #FFF, 86px 712px #FFF, 839px 208px #FFF, 362px 1634px #FFF, 1178px 214px #FFF, 116px 1421px #FFF, 1051px 1199px #FFF, 1973px 263px #FFF, 392px 731px #FFF, 1882px 261px #FFF, 965px 1299px #FFF, 269px 968px #FFF, 1639px 7px #FFF, 225px 7px #FFF, 1001px 468px #FFF, 9px 281px #FFF, 1430px 196px #FFF, 547px 99px #FFF, 369px 816px #FFF, 123px 1441px #FFF, 886px 624px #FFF, 1189px 504px #FFF, 1812px 478px #FFF, 1540px 1852px #FFF, 1974px 1568px #FFF, 267px 1691px #FFF, 949px 231px #FFF, 542px 670px #FFF, 869px 1388px #FFF, 1263px 144px #FFF, 200px 61px #FFF, 1611px 1675px #FFF, 650px 1112px #FFF, 998px 1981px #FFF, 1570px 722px #FFF, 1866px 1400px #FFF, 1712px 1128px #FFF, 674px 1708px #FFF, 561px 1638px #FFF, 1704px 361px #FFF, 1227px 291px #FFF, 36px 1984px #FFF, 447px 537px #FFF, 742px 704px #FFF, 403px 394px #FFF, 852px 1481px #FFF, 194px 305px #FFF, 1015px 1609px #FFF, 810px 736px #FFF, 1241px 1203px #FFF, 76px 964px #FFF, 283px 1526px #FFF, 507px 1043px #FFF, 345px 1284px #FFF, 1625px 1146px #FFF, 1360px 918px #FFF, 58px 303px #FFF, 1321px 1897px #FFF, 94px 1348px #FFF, 309px 1487px #FFF, 1876px 1945px #FFF, 985px 256px #FFF, 1226px 612px #FFF, 107px 594px #FFF, 1217px 1738px #FFF, 1563px 26px #FFF, 1790px 1099px #FFF, 854px 556px #FFF, 1669px 404px #FFF, 139px 745px #FFF, 1640px 379px #FFF, 816px 621px #FFF, 751px 1526px #FFF, 607px 191px #FFF, 1329px 417px #FFF, 1914px 116px #FFF, 700px 156px #FFF, 1236px 220px #FFF, 1637px 1382px #FFF, 251px 1478px #FFF, 1049px 175px #FFF, 1507px 1687px #FFF, 111px 1467px #FFF, 909px 664px #FFF, 1632px 594px #FFF, 1192px 496px #FFF, 700px 114px #FFF, 1788px 815px #FFF, 1580px 85px #FFF, 552px 336px #FFF, 1596px 588px #FFF, 1197px 1408px #FFF, 1854px 801px #FFF, 1040px 1058px #FFF, 52px 241px #FFF, 640px 1869px #FFF, 1175px 735px #FFF, 635px 1073px #FFF, 247px 677px #FFF, 1609px 1386px #FFF, 1543px 576px #FFF, 121px 740px #FFF, 169px 1145px #FFF, 793px 481px #FFF, 86px 1611px #FFF, 1210px 1447px #FFF, 1354px 28px #FFF, 671px 1089px #FFF, 261px 916px #FFF, 683px 1116px #FFF, 198px 1349px #FFF, 556px 1352px #FFF, 1508px 399px #FFF, 1919px 1419px #FFF, 1352px 1975px #FFF, 1231px 697px #FFF, 1409px 912px #FFF, 1383px 938px #FFF, 1235px 1905px #FFF, 64px 1083px #FFF, 209px 111px #FFF, 868px 659px #FFF, 1622px 1705px #FFF, 1033px 330px #FFF, 465px 878px #FFF, 1180px 226px #FFF, 1913px 363px #FFF, 153px 1468px #FFF, 588px 1696px #FFF, 1588px 88px #FFF, 152px 684px #FFF, 1556px 899px #FFF, 1526px 1311px #FFF, 666px 652px #FFF, 1341px 704px #FFF, 464px 271px #FFF, 1212px 86px #FFF, 294px 184px #FFF, 1838px 1966px #FFF, 314px 1094px #FFF, 961px 180px #FFF, 1359px 199px #FFF, 1882px 1642px #FFF, 45px 1277px #FFF, 1847px 1314px #FFF, 1355px 180px #FFF, 888px 249px #FFF, 191px 606px #FFF, 1957px 1963px #FFF, 433px 1837px #FFF, 114px 193px #FFF, 1628px 1071px #FFF, 1106px 1674px #FFF, 293px 836px #FFF, 1771px 1766px #FFF, 1358px 640px #FFF, 19px 1825px #FFF, 770px 1286px #FFF, 1109px 472px #FFF, 28px 186px #FFF, 1299px 969px #FFF, 1300px 635px #FFF, 707px 1342px #FFF, 211px 591px #FFF, 1612px 663px #FFF, 1349px 295px #FFF, 340px 362px #FFF, 237px 912px #FFF, 1042px 1067px #FFF, 511px 537px #FFF, 1510px 1269px #FFF, 1211px 1644px #FFF, 116px 489px #FFF, 998px 1979px #FFF, 1448px 231px #FFF, 498px 387px #FFF, 1901px 1378px #FFF, 28px 1419px #FFF, 1565px 682px #FFF, 991px 1740px #FFF, 267px 106px #FFF, 1349px 1719px #FFF, 1180px 1223px #FFF, 407px 110px #FFF, 1105px 1613px #FFF, 891px 1629px #FFF, 758px 1361px #FFF, 1536px 955px #FFF, 1059px 1299px #FFF, 426px 1063px #FFF, 1342px 216px #FFF, 1225px 1366px #FFF, 356px 1014px #FFF, 1054px 268px #FFF, 738px 333px #FFF, 330px 1567px #FFF, 131px 1021px #FFF, 587px 352px #FFF, 1808px 1567px #FFF, 274px 1653px #FFF, 1699px 1938px #FFF, 21px 1824px #FFF, 727px 457px #FFF, 1295px 1804px #FFF, 1489px 29px #FFF, 1872px 358px #FFF, 570px 1463px #FFF, 454px 1517px #FFF, 455px 1463px #FFF, 1756px 228px #FFF, 1071px 552px #FFF, 152px 798px #FFF, 1886px 570px #FFF, 919px 1972px #FFF, 1121px 1178px #FFF, 44px 808px #FFF, 1583px 1250px #FFF, 1535px 1423px #FFF, 1351px 1556px #FFF, 843px 127px #FFF, 460px 1159px #FFF, 509px 824px #FFF, 1140px 1634px #FFF, 988px 311px #FFF, 674px 1938px #FFF, 1353px 527px #FFF, 570px 1425px #FFF, 107px 741px #FFF, 60px 677px #FFF, 537px 143px #FFF, 1249px 1078px #FFF, 372px 542px #FFF, 1415px 1906px #FFF, 1690px 35px #FFF, 149px 738px #FFF, 1584px 1965px #FFF, 1937px 868px #FFF, 733px 524px #FFF, 1511px 1536px #FFF, 361px 1607px #FFF, 1519px 23px #FFF, 772px 151px #FFF, 131px 1628px #FFF, 1967px 1491px #FFF, 1789px 1735px #FFF, 1692px 189px #FFF, 209px 1355px #FFF, 1741px 1332px #FFF, 163px 1460px #FFF, 1275px 1403px #FFF, 1196px 1490px #FFF, 90px 1933px #FFF, 1723px 234px #FFF, 1670px 529px #FFF, 697px 1642px #FFF, 175px 1915px #FFF, 838px 52px #FFF, 1460px 265px #FFF, 921px 508px #FFF, 571px 19px #FFF, 961px 1911px #FFF, 1706px 814px #FFF, 1723px 1830px #FFF, 433px 822px #FFF, 668px 877px #FFF, 1658px 1573px #FFF, 1891px 1098px #FFF, 1462px 1246px #FFF, 163px 1464px #FFF, 1089px 1458px #FFF, 325px 1914px #FFF, 942px 1039px #FFF, 842px 501px #FFF, 1383px 1200px #FFF, 1745px 1166px #FFF, 1444px 1369px #FFF, 1740px 1152px #FFF, 994px 1265px #FFF, 1707px 504px #FFF, 183px 1846px #FFF, 760px 23px #FFF, 469px 1915px #FFF, 1094px 496px #FFF, 234px 1300px #FFF, 866px 1368px #FFF, 1984px 712px #FFF, 1986px 393px #FFF, 1587px 973px #FFF, 1602px 502px #FFF, 1077px 1650px #FFF, 1727px 887px #FFF, 1119px 122px #FFF, 1530px 1383px #FFF, 1010px 1747px #FFF, 729px 1724px #FFF, 1286px 715px #FFF, 379px 86px #FFF, 1786px 1629px #FFF, 1727px 1424px #FFF, 101px 677px #FFF, 1009px 1673px #FFF, 1661px 1509px #FFF, 879px 496px #FFF, 1827px 1166px #FFF, 12px 1869px #FFF, 364px 1761px #FFF, 1357px 777px #FFF, 1619px 91px #FFF, 1574px 1572px #FFF, 710px 312px #FFF, 1011px 652px #FFF, 371px 361px #FFF, 1114px 256px #FFF, 1252px 1498px #FFF, 939px 1661px #FFF, 1829px 453px #FFF, 1255px 1048px #FFF, 242px 1040px #FFF, 1596px 660px #FFF, 1928px 1858px #FFF, 241px 1912px #FFF, 173px 1746px #FFF, 396px 920px #FFF, 1767px 1673px #FFF, 1742px 293px #FFF, 1795px 398px #FFF, 1062px 1737px #FFF, 1764px 395px #FFF, 108px 125px #FFF, 504px 291px #FFF, 143px 893px #FFF, 806px 1399px #FFF, 681px 656px #FFF, 1085px 680px #FFF, 1137px 306px #FFF, 435px 1716px #FFF, 174px 591px #FFF, 946px 36px #FFF, 1823px 1863px #FFF, 1723px 1108px #FFF, 688px 1740px #FFF, 673px 96px #FFF, 421px 1139px #FFF, 82px 43px #FFF, 338px 26px #FFF, 756px 1965px #FFF, 1910px 1301px #FFF, 779px 68px #FFF, 1347px 1475px #FFF, 382px 1340px #FFF, 1650px 1014px #FFF, 1506px 1428px #FFF, 303px 1569px #FFF, 1763px 1334px #FFF, 270px 1579px #FFF, 1570px 1233px #FFF, 128px 674px #FFF, 396px 658px #FFF, 1247px 978px #FFF, 494px 140px #FFF, 413px 1338px #FFF, 1431px 1046px #FFF, 714px 909px #FFF, 892px 1681px #FFF, 1306px 740px #FFF, 388px 1100px #FFF, 812px 1546px #FFF, 693px 1627px #FFF, 164px 417px #FFF, 1797px 439px #FFF, 1203px 64px #FFF, 921px 1413px #FFF, 1512px 1901px #FFF, 1154px 516px #FFF, 1291px 1829px #FFF, 1720px 1092px #FFF, 1361px 681px #FFF, 400px 1112px #FFF, 1785px 660px #FFF, 1742px 262px #FFF, 1826px 130px #FFF, 1628px 1744px #FFF, 482px 1443px #FFF, 252px 1396px #FFF, 1561px 1816px #FFF, 173px 1705px #FFF, 126px 857px #FFF, 287px 1918px #FFF, 972px 201px #FFF, 621px 66px #FFF, 1397px 672px #FFF, 1336px 1008px #FFF, 1583px 251px #FFF, 780px 1565px #FFF, 1985px 153px #FFF, 883px 1479px #FFF, 107px 951px #FFF, 1994px 1227px #FFF, 1045px 1167px #FFF, 570px 79px #FFF, 1947px 1342px #FFF, 705px 337px #FFF, 851px 1826px #FFF, 1147px 257px #FFF, 1598px 1599px #FFF, 1210px 1861px #FFF, 1107px 1244px #FFF, 406px 740px #FFF, 889px 930px #FFF, 1831px 575px #FFF, 202px 847px #FFF, 1559px 298px #FFF, 1395px 1486px #FFF, 1224px 943px #FFF, 1907px 1648px #FFF, 1262px 839px #FFF, 1129px 141px #FFF, 1979px 1317px #FFF, 671px 516px #FFF, 1150px 375px #FFF, 1008px 944px #FFF, 1082px 1170px #FFF, 1176px 346px #FFF, 1297px 1613px #FFF, 1857px 186px #FFF, 1910px 1936px #FFF, 1456px 600px #FFF, 641px 1171px #FFF, 1394px 1349px #FFF, 542px 1431px #FFF, 229px 925px #FFF, 1756px 1081px #FFF, 1424px 399px #FFF, 1826px 425px #FFF, 905px 1356px #FFF, 1973px 940px #FFF, 1207px 455px #FFF, 1007px 886px #FFF, 1073px 663px #FFF, 1286px 1931px #FFF, 764px 304px #FFF, 1979px 1622px #FFF, 402px 329px #FFF, 1345px 1995px #FFF, 1642px 192px #FFF, 661px 443px #FFF, 309px 1972px #FFF, 697px 377px #FFF, 505px 577px #FFF, 1184px 1336px #FFF, 189px 1578px #FFF, 1652px 1220px #FFF, 811px 1576px #FFF, 1207px 652px #FFF, 1676px 1234px #FFF, 1562px 1891px #FFF, 246px 817px #FFF, 621px 861px #FFF, 1197px 679px #FFF, 691px 552px #FFF, 861px 1111px #FFF, 1211px 1941px #FFF, 1883px 1864px #FFF, 1299px 1516px #FFF, 469px 1235px #FFF, 728px 391px #FFF, 1790px 859px #FFF, 1775px 1205px #FFF, 1308px 792px #FFF, 1454px 1028px #FFF, 443px 1204px #FFF, 1769px 1272px #FFF, 5px 1781px #FFF, 604px 852px #FFF, 490px 1366px #FFF, 152px 1239px #FFF, 380px 1366px #FFF, 492px 964px #FFF, 83px 1895px #FFF, 1431px 935px #FFF, 233px 359px #FFF, 218px 1396px #FFF, 1304px 1495px #FFF, 727px 1949px #FFF, 1196px 274px #FFF, 1276px 410px #FFF, 196px 1574px #FFF, 1050px 1523px #FFF, 832px 1775px #FFF, 848px 1201px #FFF, 1187px 1110px #FFF, 796px 480px #FFF, 1761px 187px #FFF, 54px 334px #FFF, 1670px 569px #FFF, 55px 909px #FFF, 66px 1193px #FFF, 1252px 1905px #FFF, 320px 740px #FFF, 1019px 311px #FFF, 1471px 1920px #FFF, 1604px 1819px #FFF, 1982px 1664px #FFF, 1558px 1245px #FFF, 572px 552px #FFF, 1202px 59px #FFF, 339px 1105px #FFF, 174px 1659px #FFF, 291px 587px #FFF, 1324px 512px #FFF, 1702px 1711px #FFF, 975px 1895px #FFF, 1974px 628px #FFF, 1172px 1193px #FFF, 1733px 1494px #FFF, 1500px 440px #FFF, 1110px 1986px #FFF, 434px 966px #FFF, 1104px 1572px #FFF, 987px 1301px #FFF, 305px 480px #FFF, 276px 1207px #FFF, 1054px 1611px #FFF, 425px 647px #FFF, 1819px 223px #FFF, 831px 13px #FFF, 670px 1663px #FFF, 81px 553px #FFF, 246px 1500px #FFF, 75px 796px #FFF, 487px 54px #FFF, 1535px 1879px #FFF, 358px 326px #FFF, 63px 1439px #FFF, 1684px 1657px #FFF, 1419px 1029px #FFF, 654px 1866px #FFF, 969px 778px #FFF, 1484px 652px #FFF, 625px 935px #FFF, 886px 1201px #FFF, 236px 1817px #FFF, 1928px 673px #FFF;
    animation: animStar 50s linear infinite;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

div#header-extra-div-3:before {
    width: 1px;
    display: block;
    height: 1px;
    opacity: .3;
    background: transparent;
    box-shadow: 1984px 1343px #FFF, 206px 1925px #FFF, 1794px 797px #FFF, 1617px 920px #FFF, 142px 952px #FFF, 189px 926px #FFF, 552px 810px #FFF, 789px 108px #FFF, 922px 347px #FFF, 346px 798px #FFF, 1356px 1739px #FFF, 385px 1606px #FFF, 236px 334px #FFF, 907px 1083px #FFF, 1731px 521px #FFF, 1043px 1585px #FFF, 127px 1613px #FFF, 497px 702px #FFF, 1091px 1630px #FFF, 1900px 390px #FFF, 146px 312px #FFF, 1137px 1254px #FFF, 811px 1299px #FFF, 545px 890px #FFF, 1719px 1591px #FFF, 1234px 1400px #FFF, 130px 619px #FFF, 129px 852px #FFF, 1727px 1816px #FFF, 1489px 1704px #FFF, 950px 894px #FFF, 104px 1369px #FFF, 600px 25px #FFF, 1780px 1733px #FFF, 1243px 279px #FFF, 1708px 1826px #FFF, 110px 179px #FFF, 1377px 1122px #FFF, 363px 1754px #FFF, 429px 1384px #FFF, 148px 232px #FFF, 338px 1555px #FFF, 1952px 844px #FFF, 984px 342px #FFF, 529px 590px #FFF, 739px 1323px #FFF, 1523px 664px #FFF, 418px 474px #FFF, 1926px 468px #FFF, 1768px 263px #FFF, 1384px 1219px #FFF, 325px 1486px #FFF, 49px 1219px #FFF, 303px 254px #FFF, 1622px 370px #FFF, 767px 1364px #FFF, 1297px 1177px #FFF, 607px 864px #FFF, 199px 1979px #FFF, 1176px 1202px #FFF, 840px 548px #FFF, 1503px 1905px #FFF, 507px 1764px #FFF, 819px 1502px #FFF, 1360px 1282px #FFF, 1256px 1848px #FFF, 1044px 1882px #FFF, 1809px 1976px #FFF, 1125px 1037px #FFF, 649px 427px #FFF, 721px 1136px #FFF, 264px 158px #FFF, 1844px 650px #FFF, 822px 120px #FFF, 334px 12px #FFF, 1163px 1095px #FFF, 1018px 310px #FFF, 1814px 1148px #FFF, 739px 1923px #FFF, 377px 536px #FFF, 1321px 1345px #FFF, 1932px 1536px #FFF, 1781px 85px #FFF, 419px 996px #FFF, 288px 1339px #FFF, 1141px 92px #FFF, 1714px 378px #FFF, 1220px 478px #FFF, 870px 1772px #FFF, 820px 194px #FFF, 920px 502px #FFF, 720px 509px #FFF, 547px 958px #FFF, 1143px 1417px #FFF, 48px 1986px #FFF, 522px 1797px #FFF, 1472px 620px #FFF, 139px 354px #FFF, 849px 1041px #FFF, 427px 208px #FFF, 1581px 316px #FFF, 1062px 534px #FFF, 455px 506px #FFF, 1355px 1299px #FFF, 589px 1194px #FFF, 1899px 1839px #FFF, 1801px 1665px #FFF, 1703px 535px #FFF, 1843px 1019px #FFF, 1549px 258px #FFF, 1679px 1397px #FFF, 682px 183px #FFF, 1245px 1558px #FFF, 187px 1181px #FFF, 1132px 1145px #FFF, 1443px 925px #FFF, 1453px 928px #FFF, 546px 744px #FFF, 1901px 748px #FFF, 1084px 257px #FFF, 443px 1699px #FFF, 1041px 1137px #FFF, 1452px 479px #FFF, 73px 1440px #FFF, 1061px 113px #FFF, 1706px 92px #FFF, 1897px 1068px #FFF, 878px 1107px #FFF, 1816px 461px #FFF, 960px 383px #FFF, 1255px 1306px #FFF, 1276px 522px #FFF, 612px 1807px #FFF, 1376px 642px #FFF, 288px 1618px #FFF, 217px 1948px #FFF, 80px 1087px #FFF, 1243px 1048px #FFF, 1003px 647px #FFF, 1939px 1209px #FFF, 81px 282px #FFF, 1810px 1471px #FFF, 616px 1611px #FFF, 1891px 1006px #FFF, 821px 969px #FFF, 69px 894px #FFF, 1430px 608px #FFF, 1869px 29px #FFF, 512px 1157px #FFF, 1975px 1099px #FFF, 837px 1209px #FFF, 1773px 401px #FFF, 714px 1658px #FFF, 408px 1241px #FFF, 4px 1318px #FFF, 661px 663px #FFF, 286px 22px #FFF, 274px 364px #FFF, 104px 764px #FFF, 175px 1255px #FFF, 270px 735px #FFF, 214px 493px #FFF, 530px 1921px #FFF, 571px 86px #FFF, 1455px 712px #FFF, 407px 1852px #FFF, 28px 1566px #FFF, 1946px 1170px #FFF, 462px 1911px #FFF, 1512px 1153px #FFF, 429px 1384px #FFF, 1805px 1416px #FFF, 1748px 723px #FFF, 203px 1444px #FFF, 269px 720px #FFF, 1080px 1299px #FFF, 1456px 582px #FFF, 894px 1525px #FFF, 1898px 1481px #FFF, 53px 43px #FFF, 458px 805px #FFF, 727px 953px #FFF, 159px 1564px #FFF, 198px 1367px #FFF, 1558px 556px #FFF, 403px 1942px #FFF, 218px 63px #FFF, 538px 1861px #FFF, 1385px 1568px #FFF, 1576px 87px #FFF, 1971px 626px #FFF, 1191px 181px #FFF, 1128px 512px #FFF, 410px 592px #FFF, 1855px 703px #FFF, 1540px 89px #FFF, 1543px 1786px #FFF, 1136px 851px #FFF, 45px 1492px #FFF, 1115px 1873px #FFF;
    animation: animStar 100s linear infinite;
    content: '';
}

#top-bar ul>li>ul {
    visibility: unset !IMPORTANT;
    display: none;
}

#top-bar ul>li:hover>ul {
    display: block;
}

#top-bar>div>ul>li>a {
    transition: .3s ease-in-out;
}

#top-bar>div>ul>li.sfhover>a:hover {
    background: transparent;
    color: rgb(255 255 255/80%)
}

#top-bar>div>ul>li:hover>a {
    background: transparent;
    border-color: rgb(64 64 64 / 10%);
    color: rgb(255 255 255 / 60%);
}

#top-bar ul>li:hover>ul {
    display: flex;
    flex-wrap: wrap;
    width: 17em;
    padding-top: 2px;
    background: rgb(0 0 0 / 85%);
    border: none;
}

#top-bar li>ul>li {
    flex-grow: 1;
    display: flex;
}

#top-bar>div>ul>li>ul>li>a,
#top-bar>div>ul>li:hover>ul>li>a {
    flex-grow: 1;
    background: transparent;
    border: none;
    color: rgb(255 255 255 / 80%);
    padding: 5px 7px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#top-bar>div>ul>li>ul>li>a:hover,
#top-bar>div>ul>li:hover>ul>li>a:hover {
    background: transparent;
}

#top-bar li li a:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -1;
    left: 0;
    background: rgb(0 0 0 / 40%);
    transform: rotate(50deg)scale(1, 10)translateX(-200px);
    pointer-events: none;
    transition: .3s ease-in-out;
}

#top-bar li li a:hover:before {
    transform: rotate(50deg)scale(1, 10)translateX(0px);
}

div#content-wrap {
    margin-top: 4em;
}

#side-bar .side-block {
    background: linear-gradient(to left, rgb(0 0 0 / 5%) 5%, transparent 5%), linear-gradient(to top, rgb(0 0 0 / 5%) 5%, transparent 5%), #fff;
    background-size: 20px, 100% 20px;
    background-position: center;
    border-radius: 0;
    border: 3px solid #000;
    box-shadow: none;
    position: relative;
    border-left: none;
    border-right: none;
}

.side-block:before {
    content: '';
    position: absolute;
    bottom: calc(100% + 2px);
    left: calc(0% - 2px);
    right: calc(0% - 2px);
    height: 4px;
    background: linear-gradient(315deg, black 50%, transparent 50%), linear-gradient(45deg, black 50%, transparent 50%), linear-gradient(#000, #000);
    background-size: 20px, 20px, 60%;
    background-repeat: no-repeat;
    background-position: calc(5% + 8px), calc(95% - 8px), center;
}

.side-block:after {
    content: '';
    position: absolute;
    top: calc(100% + 2px);
    left: calc(0% - 2px);
    right: calc(0% - 2px);
    height: 4px;
    background: linear-gradient( 225deg, black 50%, transparent 50%), linear-gradient( 116deg, black 50%, transparent 50%), linear-gradient(#000, #000);
    background-size: 20px, 20px, 60%;
    background-repeat: no-repeat;
    background-position: calc(5% + 8px), calc(95% - 8px), center;
}

.odialog-shader {
    background: transparent;
}

div#owindow-1 {
    backdrop-filter: blur(5px);
    background: rgb(255 255 255 / 50%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #2b2b2b;
    overflow: hidden;
}

.owindow .title {
    background: rgb(245 245 245 / 10%);
    color: #000;
}

#side-bar .menu-item>img {
    display: none;
}

#side-bar .collapsible-block-folded {
    background: none;
}

#side-bar .collapsible-block-folded .collapsible-block-link:before,
#side-bar .menu-item>img+a:before {
    content: "\f02e";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: .9em;
    font-weight: 400;
    padding: 0 .25em 0 0;
    text-align: center;
    width: 1em;
}

#side-bar .collapsible-block-folded .collapsible-block-link:before {
    content: "\f067";
}

#side-bar .menu-item>img[src*="home.png"]+a:before {
    content: "\f015";
}

#side-bar .menu-item>img[src*="default.png"]+a:before {
    content: "\f041";
}

#side-bar .menu-item>img[src*="series.png"]+a:before {
    content: "\f1c0";
}

#side-bar .menu-item>img[src*="help.png"]+a:before {
    content: "\f129";
}

#side-bar .menu-item>img[src*="forum.png"]+a:before {
    content: "\f086";
}

#side-bar .collapsible-block-link {
    margin-left: 0;
}

div#side-bar *,
div#side-bar *>*,
divside-bar *>*>*,
divside-bar *>*>*>* {
    color: #000 !IMPORTANT;
    border-color: #000 !IMPORTANT;
}

#side-bar .heading {
    border-left: 3px solid;
    padding-left: 7px;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
    border-left: 3px solid;
    border-bottom: 1px solid;
    display: block;
    margin: 0;
    padding-left: 7px;
}

.side-block>*:first-of-type:before {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    width: 7px;
    right: calc(100% - 3px);
    background: linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-size: 100% 20px, 100% 20px, 100% calc(100% - 46px);
    background-position: top, bottom, center;
    animation: sideleft 4s ease-in-out 0s infinite both;
}

.side-block>*:first-of-type:after {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    width: 7px;
    left: calc(100% - 3px);
    background: linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-size: 100% 20px, 100% 20px, 100% calc(100% - 46px);
    background-position: top, bottom, center;
    animation: sideright 4s ease-in-out 0s infinite both;
}

@keyframes sideright {
    0%,
    100%,
    45%,
    55% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(3px)
    }
}

@keyframes sideleft {
    0%,
    100%,
    45%,
    55% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-3px)
    }
}

.side-block:nth-of-type(even)>*:first-of-type:before,
.side-block:nth-of-type(even)>*:first-of-type:after {
    animation-delay: 2s;
}

div#page-title {
    font-family: 'Shippori Mincho B1', serif;
    color: #000;
    font-size: 210%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    background: rgb(0 0 0 / 5%);
    border-bottom: 3px solid #000;
    padding: 5px;
}

.open-menu a {
    font-weight: normal;
    font-size: 0px;
    color: #000 !important;
    bottom: 10px;
    left: 10px;
    background: rgb(255 255 255 / 30%) !IMPORTANT;
    border: 3px solid #000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    border-radius: 3px;
    line-height: 1;
    height: 33px;
    width: 33px;
    backdrop-filter: blur(5px);
}

.open-menu a:before {
    content: '\f067';
    font-family: 'fontawesome';
    font-size: 22px;
}

.open-menu a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%));
    background-repeat: no-repeat;
    background-size: 1px, 100% 1px;
    background-position: 50%;
}

@media (max-width:767px) {
    #side-bar:target,
    #side-bar {
        border: none;
        background: #fff;
        box-sizing: border-box;
        width: 19em;
        border-right: 1px solid #fff;
    }
    #side-bar:target .close-menu {
        width: calc(100% - 19em);
        right: 0;
        left: initial;
        backdrop-filter: blur(5px);
        animation: fade 1s ease-in-out .4s 1 both
    }
}

div#side-bar::-webkit-scrollbar {
    width: 7px;
    border: none;
}

div#side-bar::-webkit-scrollbar-thumb {
    background: #000;
}

div#side-bar::-webkit-scrollbar-track {
    background: transparent;
}

@keyframes fade {
    0% {opacity:0}
    100% {opacity:1}
}

#header:before {
    content: '{$sub-3}';
    animation-delay: 4s;
    top: 50%;
    left: 15vw;
}

#header:after {
    content: '{$sub-4}';
    left: initial;
    right: 15vw;
    top: 40%;
    animation-delay: 6s;
}

#html-body .page-rate-widget-box .rate-points {
    background-color: #000 !IMPORTANT;
    border: 1px solid #000;
    border-radius: 0;
}

#html-body .page-rate-widget-box .rateup, #html-body .page-rate-widget-box .ratedown {
    background-color: #000;
    border-color: #000;
    transition: .3s ease-in-out;
}

#html-body .page-rate-widget-box .rateup a,#html-body .page-rate-widget-box .ratedown a {
    color: #fff;
    background: none !important;
}

#html-body .page-rate-widget-box .rateup:hover, #html-body .page-rate-widget-box .ratedown:hover {
    background-color: #333333;
    border-color: #333333;
}

#html-body .page-rate-widget-box .cancel {
    border-radius: 0;
    background: #000;
    transition: .3s ease-in-out;
    border-color: #000;
}

#html-body .page-rate-widget-box .cancel a {
    color: #fff !IMPORTANT;
    background: transparent !IMPORTANT;
}

#html-body .page-rate-widget-box .cancel:hover {
    background: #333333;
    border-color: #333333;
}

#html-body .rate-box-with-credit-button .creditButton {
    position: relative;
    background: #000;
    color: #fff;
    border-radius: 0;
    border-color: #000;
    transition: .3s ease-in-out;
}

#html-body .creditButton a {
    color: #fff !important;
}

#html-body .rate-box-with-credit-button .creditButton:hover {
    background: #333;
    border-color: #333;
}

.creditButton a:after {
    position: absolute;
    content: '';
    top: calc(0% - 1px);
    bottom: calc(0% - 1px);
    right: calc(100% + 1px);
    width: 5px;
    box-sizing: border-box;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#html-body .page-rate-widget-box {
    position: relative;
}

#html-body .page-rate-widget-box:before,#html-body .page-rate-widget-box:after {content: '';position: absolute;top: 100%;left: 0;right: 0;height: 2px;background: linear-gradient(#fff,#fff),linear-gradient(#000,#000),linear-gradient(#000,#000),linear-gradient(#000,#000);background-repeat: no-repeat;background-size: 8px,15px,15px,calc(100% - 46px);background-position: center,0%,100%,center;border-bottom: 2px solid #000;}

#html-body .page-rate-widget-box:after {
    top: initial;
    bottom: 100%;
    border-bottom: none;
    border-top: 2px solid #000;
}

#html-body .creditButton:before,#html-body .creditButton:after {content: '';left: calc(0% - 1px);right: calc(0% - 1px);height: 2px;bottom: calc(100% + 1px);position: absolute;background: linear-gradient(#000,#000),linear-gradient(#000,#000),linear-gradient(#000,#000);background-repeat: no-repeat;background-size: 20%,20%,20%;background-position: 0%,100%,center;border-top: 2px solid #000;}

#html-body .creditButton:after {
    top: calc(100% + 1px);
    border-top: none;
    border-bottom: 2px solid #000;
}

#html-body .modalbox .modalbox-title {
    border-radius: 0;
    background: rgb(0 0 0 / 60%);
    color: #fff;
}

#html-body .modalbox-title h2 {font-family: 'Shippori Mincho B1', serif;}

#html-body .fader {
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(3px);
}

#html-body .modalbox {
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #000;
    border-radius: 0;
}

h1 {font-family: 'shippori mincho b1',serif;color: #000;border-bottom: 2px solid;padding-bottom: 2px;}

blockquote {
    background: #fff;
    position: relative;
    border: 4px solid #000;
    padding: 6px 1em;
}

blockquote:before {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 2px solid #000;
}

blockquote:after {content: '';position: absolute;top: 5px;bottom: 5px;left: 5px;right: 5px;pointer-events: none;border: 1px solid #000;}

div.blockquote {
    background: #f2f2f2;
    border: 1px solid #ccc;
}

table.wiki-content-table {
    width: 100%;
}

table.wiki-content-table th {
    text-align: left;
    background: #151515;
    color: rgb(255 255 255 / 80%);
    border: 1px solid #000;
}

div#toc {
    background: #fff;
    border: 4px solid #000;
    position: relative;
    padding: 1em;
}

div#toc:before {content: '';position: absolute;top: 4px;bottom: 4px;left: 4px;right: 4px;border: double;outline: double;pointer-events: none;}

.scp-image-block .scp-image-caption {
    background: #fff;
    border: none;
}

.scp-image-block {
    border: 1px solid #bbb;
}

.code {
    background: #fff;
    border: 1px solid #ccc;
}

ul {
    list-style: disc;
}

div#container:before {
    position: absolute;
    content: '';
    top: 174px;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to bottom,#3c3c3c,#ffffff00);
}

#html-body ul.yui-nav {
    border: none;
}
#html-body ul.yui-nav li {
    margin: 0;
    padding: 0;
    line-height: 1;
}
#html-body ul.yui-nav li a {
    background: none;
    color: inherit;
    border: none;
}
#html-body ul.yui-nav li a em {
    border: none;
    top: 0;
    padding: 0;
}
#html-body div.yui-content {
    border: none;
    padding: 0;
    background: none;
}
#html-body ul.yui-nav {
    display: flex;
    justify-content: space-around;
    padding: 6px 6px;
    background: #000;
}

#html-body ul.yui-nav li {
    flex-grow: 1;
    text-align: center;
    background: #000;
    padding: 7px 5px;
    margin: 0 2px;
    color: rgb(255 255 255 / 80%);
    transition: .7s ease-in-out;
}

#html-body ul.yui-nav li:hover {
    background: #313131;
}

#html-body ul.yui-nav li.selected {
    background: #4e4e4e;
    color: #fff;
}

#html-body div.yui-content {
    border: 2px solid #000;
    background: #fff;
    padding: 0 1em;
    border-top-width: 3px;
    position: relative;
    padding-top: 6px;
}

div.yui-content:before {content: '';position: absolute;top: 3px;border-top: 3px solid #000;left: 0;right: 0;}

div.yui-content:after {content: '';position: absolute;top: 1px;border-top: 1px solid #000;left: 0;right: 0;}

.yui-content div {
    overflow: hidden;
    animation: scrolltab 2s ease-in-out 0s 1 both;
}

@keyframes scrolltab {
0% {max-height:17px}
10% {max-height:0px}
99% {max-height:200vh}
100% {max-height:999999rem}
}

.hovertip {
    border: 2px solid #000 !Important;
    background: rgb(255 255 255 / 30%) !Important;
    color: #000;
    padding: 1em;
    backdrop-filter: blur(3px);
}

div#footer {
    background: #000;
}

div#page-options-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page-options-bottom a.btn {
    display: block;
    background: linear-gradient(to left,#000 50%,transparent 50%);
    color: #000;
    transition: .7s ease-in-out;
    background-size: 200%;
    text-decoration: none !IMPORTANT;
    background-repeat: no-repeat;
    border: 2px solid #000;
    padding: 5px 7px;
    flex-grow: 1;
    text-align: center;
    flex-basis: 20%;
    position: relative;
    flex-shrink: 1;
}

.page-options-bottom a.btn:hover {
    background-position: 100%;
    color: #fff;
}

div#page-options-bottom-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#page-options-bottom-2 a.btn {
    flex-basis: 40%;
}
#main-content .page-tags {
    padding: 12px 6px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 1em 0;
}

#main-content .page-tags span {
    border: none;
    font-size: 90%;
}

#main-content .page-tags span a {
    color: #fff;
    background: #000;
    padding: 7px 9px;
    text-decoration: none !important;
    transition: .5s ease-in-out;
    position: relative;
    margin: 4px;
}

#main-content .page-tags span a:hover {
    background: rgb(0 0 0 / 90%);
}

#main-content .page-tags span a:before {content: '';position: absolute;top: 2px;bottom: 2px;left: 2px;right: 2px;border: 1px solid #fff;pointer-events:none}

#main-content .page-tags span a:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #fff;
    pointer-events:none
}

.page-tags:before {content: '';position: absolute;top: 1px;bottom: 1px;left: 0;right: 0;border-top: 2px solid #000;border-bottom: 2px solid #000;pointer-events:none}

.page-tags:after {content: '';position: absolute;top: 4px;right: 0;left: 0px;bottom: 4px;border-top: 1px solid #000;border-bottom: 1px solid #000;pointer-events:none}

#main-content .page-tags span:before {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 0;
    left: 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    pointer-events:none
}

#main-content .page-tags span:after {content: '';position: absolute;top: calc(50% - 1px);height: 2px;left: 0;right: 0;background: #000;z-index: -1;pointer-events:none}

#main-content .page-tags span {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
}