.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#page-content .wiki-content-table {
    width: 33%;
}

/*
 
    BASALT Theme
    [2021 Wikidot Theme]
    By Azamo
 
    Based on:
 
    Paperstack Theme by EstrellaYoshte
    Minimal Theme by Stormbreath
    BLANKSTYLE CSS by Placeholder McD & HarryBlank
    PLACESTYLE CSS by Placeholder McD
    Simple Yonder Theme by EstrellaYoshte
 
    Tab animation by Croquembouche
 
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* MAIN */

:root {
    --title: " SCP FOUNDATION";
    --subtitle: " SECURE • CONTAIN • PROTECT";
    --barColour: rgb(20, 20, 20);
    --fnColor: rgb(15, 15, 15);
    --logo: url();
    --sidelogo: var(--logo);
    --sidesubtitle: var(--subtitle);
}

body {
    background: rgb(250, 250, 250);
    font-family: 'Roboto', sans-serif;
}

#main-content {
    top: -2.8rem;
}

/* HEADER */

#extra-div-1 {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000vw;
    height: 5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background: white;
    background: linear-gradient(180deg, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#extra-div-2 {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000vw;
    height: 5rem;
}

#extra-div-1::before {
    content: var(--title);
    position: fixed;
    left: 8.5rem;
    top: 0.7rem;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 27.45px;
    animation: slideLeft 1s;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
}

#extra-div-2::before {
    content: var(--subtitle);
    position: fixed;
    font-size: 1.22em;
    left: 8.5rem;
    top: 2.5rem;
    color: #272842;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    animation: slideLeft 1s;
}

#u-header-link {
    display: block;
    position: fixed;
    top: 0.6rem;
    left: 8.3rem;
    height: 3.5rem;
    width: 15.7rem;
    z-index: 21;
}

.logo {
    z-index: 10;
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;
    top: 0.2rem;
    left: 3.6rem;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
    animation: slideLeft 1s;
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo:hover {
    transform: rotate(348deg);
}

#header {
    height: 5rem;
}

#header h1,
#header h2 {
    display: none;
}

#top-bar {
    position: fixed;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    animation: slideLeft 1s;
    top: 1.7rem;
    max-width: 50rem;
    min-width: 8rem;
    font-size: 90%;
    font-weight: 800;
    left: 25.4rem;
}

#top-bar div.open-menu a {
    display: none;
}

#top-bar ul {
    float: left;
}

#top-bar ul li ul {
    border: none;
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
    background-color: #F4F4F4;
}

#top-bar ul li>a {
    border: none;
}

#top-bar a {
    filter: grayscale(100%) saturate(0%);
    -webkit-filter: grayscale(100%) saturate(0%);
}

#top-bar ul li.sfhover a:hover, #top-bar ul li:hover a:hover {
    background: #F4F4F4;
}

#top-bar ul li.sfhover a, #top-bar ul li:hover a {
    border: none;
}

#login-status {
    position: fixed;
    top: 0.65rem;
    right: 1.5rem;
    width: 4.5rem;
    font-size: 0.78em;
    text-align: center;
}

#login-status span.printuser {
    font-size: 0;
}

#login-status span.printuser img {
    font-size: 0;
    transform: translate(6px, 5px);
}

#login-status a#my-account {
    display: none;
}

#account-topbutton {
    border: solid 2px #333;
    margin-left: -0.35rem;
}

div#search-top-box {
    width: 2rem;
    position: fixed;
    top: 0.76rem;
    right: 0.2rem;
    z-index: 21;
}

#search-top-box-input {
    display: none;
}

#search-top-box-form>input[type=submit],
#search-top-box-form>input[type=submit]:hover,
#search-top-box-form>input[type=submit]:focus,
#search-top-box-form>input[type=submit]:target {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23ddd%22%20d%3D%22M505%20442.7L405.3%20343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3%2044-79.7%2044-128C416%2093.1%20322.9%200%20208%200S0%2093.1%200%20208s93.1%20208%20208%20208c48.3%200%2092.7-16.4%20128-44v16.3c0%206.4%202.5%2012.5%207%2017l99.7%2099.7c9.4%209.4%2024.6%209.4%2033.9%200l28.3-28.3c9.4-9.4%209.4-24.6.1-34zM208%20336c-70.7%200-128-57.2-128-128%200-70.7%2057.2-128%20128-128%2070.7%200%20128%2057.2%20128%20128%200%2070.7-57.2%20128-128%20128z%22%2F%3E%3C%2Fsvg%3E") 50%/0.8rem no-repeat, #000 !important;
    border: none;
    border-radius: 30%;
    font-size: 0;
    height: 1.5rem;
    width: 1.5rem;
}

.mobile-top-bar {
    left: unset;
}


/* SIDEBAR */

#u-sb-button {
    display: block;
    position: fixed;
    top: 0.5rem;
    left: 0.9rem;
    height: 4rem;
    width: 45px;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-decoration: none !important;
    z-index: 21;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
    animation: slideLeft 1s;
}

#u-sb-button:hover {
    font-weight: 900;
}

#side-bar {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
background: linear-gradient(
0deg
 , rgba(255, 255, 255, 1) 87%, rgba(250, 250, 250, 1) 100%);
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400 !important;
    left: -21em;
}

#side-bar::before {
    content: var(--sidesubtitle);
    background: var(--sidelogo);
    background-size: 4.5rem;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 0.3rem;
    padding-top: 4.7rem;
    display: inline-block;
    border-bottom: double 5px black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#side-bar,
#side-bar:target {
    z-index: 22;
}

#side-bar a {
    color: black;
}

#side-bar a:visited {
    color: black;
}

#side-bar img,
iframe.scpnet-interwiki-frame {
    filter: grayscale(100%) saturate(0%);
    -webkit-filter: grayscale(100%) saturate(0%);
}

#side-bar .side-block {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%);
    border-color: transparent;
    border-radius: 0px;
}

#side-bar .side-block.media {
    background-color: white;
    border-bottom: solid 2px rgb(190, 190, 190);
    border-top: solid 2px rgb(190, 190, 190);
    margin-top: 1rem;
}

#side-bar .heading {
    color: black;
    border-bottom: solid 1px black;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

#side-bar .collapsible-block-folded {
    background-image: url(https://scp-wiki.wdfiles.com/local--files/theme%3Aminimal/expand.png);
}

#side-bar .collapsible-block-unfolded-link {
    border-bottom: solid 1px black;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link,
#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
    color: black;
}


/* TABS */

ul.yui-nav a {
    font-family: 'Work Sans', sans-serif;
    padding: 3.5px;
    color: white;
    font-weight: 600;
}

.yui-navset .yui-nav .selected,
.yui-navset .yui-navset-top .yui-nav .selected,
.yui-navset .yui-nav a:hover,
yui-navset .yui-nav a:active {
    color: white;
    background-color: black;
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.yui-navset .yui-content>div {
    display: block;
    top: 0;
    overflow: hidden;
    transform-origin: 0 0;
}


/* Tab animation by Croquembouche */

#page-content .yui-navset .yui-content>div[style*="none"] {
    display: block !important;
    flex: 0;
    max-height: 0;
    padding: 0 0.5em;
    border-width: 0;
    /* The following transition affects the one that DISAPPEARS */
    transition: padding 0s linear 0.5s, border-width 0s linear 0.5s, flex 0.5s cubic-bezier(.18, .51, .54, .9) 0s;
    animation: tab-disappear 0.5s ease-in-out 0s 1 both;
}

#page-content .yui-navset .yui-content>div[style*="block"] {
    display: block !important;
    flex: 1;
    max-height: 9999rem;
    /* The following transition affects the one that APPEARS */
    transition: padding 0s linear 0.5s, border-width 0s linear 0.5s, flex 0.5s cubic-bezier(.18, .51, .54, .9) 0.5s;
    animation: tab-appear 0.5s ease-in-out 0.5s 1 both;
}

@keyframes tab-disappear {
    0% {
     max-height: 9999rem;
    }
    1% {
     max-height: 100vh;
    }
    100% {
     max-height: 0;
    }
}

@keyframes tab-appear {
    0% {
     max-height: 0;
    }
    99% {
     max-height: 100vh;
    }
    100% {
     max-height: 9999rem;
    }
}

.yui-navset .yui-content {
    background: transparent;
    box-shadow: none;
}


/* TAGS */

#main-content .page-tags a {
    line-height: inherit;
    background-color: rgb(20, 20, 20);
    border-radius: 2px 6px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.page-tags span {
    border-top: none;
}


/* CONTENT */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

.top-left-box > .item {
    display: none;
}

hr {
    background-color: #333;
}

.info-container {
    padding-bottom: 8px
}

.document {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    padding-top: 50px;
    position: relative;
    width: 80%;
}

.document:before,
.document:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.document:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.document:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

.darkdocument {
    background: rgb(30, 30, 30);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    padding-top: 50px;
    position: relative;
    width: 80%;
    color: #EDEDED;
}

.darkdocument:before,
.darkdocument:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.darkdocument:before {
    background: rgb(25, 25, 25);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.darkdocument:after {
    background: rgb(25, 25, 25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

.darkdocument .fnnum::after {
color: #EDEDED !important;
}

.rate-points {
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    font-size: 90%;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel {
    border: none;
}

.scp-image-block img {
background: white;
}

.scp-image-block.block-right {
    margin: 0em 0em 1em 2em;
}

a {
    color: #0645AD;
}

a.newpage {
    color: #CC2200;
}

a:visited {
    color: #0B0080;
}

.danger-diamond a {
    color: transparent;
}

#page-content {
    font-size: 110%;
}

::-webkit-scrollbar {
    cursor: pointer;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: black;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(45, 45, 45);
}

::-webkit-scrollbar-track {
    background: white;
}

a.collapsible-block-link {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 9px;
    background: rgb(20, 20, 20);
    border-radius: 2px;
}

#page-title,
.meta-title {
    display: block !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #252525;
    border: none;
    margin-top: 3rem;
}

#breadcrumbs {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-top: -1.5rem;
    font-size: 90%;
}

.raisa_memo {
    background: #fff3ad;
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px 20px 20px;
    word-break: break-word;
}

.raisa_memo > p:nth-child(1)::before {
    content: "NOTICE FROM THE RECORDS AND INFORMATION SECURITY ADMINISTRATION\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 130%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.classification_memo {
    background: #edf5f3;
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px 20px 20px;
    word-break: break-word;
}

.classification_memo > p:nth-child(1)::before {
    content: "CLASSIFICATION COMMITTEE MEMORANDUM\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 130%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.ettra_memo {
    background: #f5d7d7;
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px 20px 20px;
    word-break: break-word;
}

.ettra_memo > p:nth-child(1)::before {
    content: "NOTICE FROM THE EMERGENT THREAT TACTICAL RESPONSE AUTHORITY\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 130%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.ethics_memo {
    background: #ffdbc4;
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px 20px 20px;
    word-break: break-word;
}

.ethics_memo > p:nth-child(1)::before {
    content: "ETHICS COMMITTEE MEMORANDUM\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 130%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.temporal_memo {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23d8d8d8' fill-opacity='0.44' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
    border: double 3px lightgrey;
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px 20px 20px;
    word-break: break-word;
}

.temporal_memo > p:nth-child(1)::before {
    content: "THE TEMPORAL ANOMALIES DEPARTMENT\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 145%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.overwatch_memo {
    background: #e3e3e3;
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 30px 20px 20px;
    word-break: break-word;
}

.overwatch_memo > p:nth-child(1)::before {
    content: "OVERWATCH COMMAND MEMORANDUM\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 155%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.55rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.miscomm_memo {
    background: #eeedfa;
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 4rem;
    max-height: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 30px 20px 20px;
    word-break: break-word;
}

.miscomm_memo > p:nth-child(1)::before {
    content: "NOTICE FROM THE DEPARTMENT OF MISCOMMUNICATIONS\00000a";
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 130%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: dotted 0.13rem darkslategrey;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.raisa_memo a, .temporal_memo a, .classification_memo a, .overwatch_memo a, .ettra_memo a, .ethics_memo a, .miscomm_memo a {
font-weight: 700;
}

.notation {
    border-left: solid 3px rgb(30, 30, 30);
    border-right: solid 3px rgb(30, 30, 30);
    padding: 25px 25px 25px 25px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    width: 75%;
    margin: auto;
    background: #f7f7f7;
}

.modal {
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    width: 96%;
    margin: auto;
    background: rgb(253, 253, 253);
    border: solid 2px #5D5D5D;
}

.jotting {
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    width: 75%;
    margin: auto;
    background: #FDFDFD;
    border: dashed 0.1rem #5D5D5D;
}

.fnnum:hover {
background: transparent;
transform: scale(1.3);
}

.fnnum {
    transition-duration: 0.2s;
    transition-property: transform;
    transform: translateZ(0);
}

.fnnum:hover::after {
color: initial;
}

/* @MEDIA */

@media only screen and (max-width: 600px) {
    .scp-image-block.block-right {
     float: none;
     margin: 10px auto;
    }
}

@media (min-width: 768px) {
    #header,
    #top-bar {
     width: calc(100% - 4.4rem);
     max-width: calc(100% - 4.4rem);
    }
    #main-content {
     max-width: 95%;
    }
}

@media (max-width: 1120px) {
    #top-bar {
     font-weight: 600;
     font-size: 80%;
    }
}

@media (max-width: 1020px) {
    #top-bar {
     top: 3.2rem;
     left: 7.8rem;
    }
    #extra-div-1::before {
     top: 0.3rem;
    }
    #extra-div-2::before {
     top: 1.9rem;
    }
    #u-header-link {
     height: 2.5rem;
    }
    .document, .darkdocument {
     width: 95%;
    }
}

@media (max-width: 500px) {
    .logo {
     display: none;
    }
    #top-bar {
     left: 3.6rem;
    }
    #extra-div-1::before,
    #extra-div-2::before {
     left: 4.2rem;
    }
    #u-header-link {
     left: 4rem;
    }
}

@media (max-width: 430px) {
    #extra-div-1::before {
     font-size: 23.45px;
     top: 0.5rem;
    }
    #extra-div-2::before {
     font-size: 1em;
     top: 2.1rem;
    }
    #u-header-link {
     width: 13.5rem;
    }
    #login-status {
     right: 1.8rem;
    }
}

/* MISC */

::selection {
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
}

#owindow-1 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%);
}

#owindow-1>div.title.modal-header {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 90%;
}

#owindow-1>div.content.modal-body td.active>b {
    font-family: 'Work Sans', sans-serif;
    color: grey;
}

#owindow-1>div.content.modal-body>table {
    max-height: 11.5rem;
    overflow: auto;
    display: block;
}

#owindow-1>div.content.modal-body>div {
    margin-top: 1.5rem !important;
    border-top: solid 0.2rem rgb(210, 210, 210);
    padding-top: 1rem;
}

#owindow-1>div.content.modal-body>div>div>a {
    background: #870000;
}

#owindow-1>div.content.modal-body>div>div>a:hover {
    background: #470000;
}

#owindow-1>div.content.modal-body>img {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    padding: 0px 0px 0px 0px !important;
    background: none;
    background-color: transparent !important;
    margin-right: 1.7rem;
}

#owindow-1 > div.content.modal-body > div > div > a, #owindow-1 > div.button-bar.modal-footer > a, #owindow-1 > div.content.modal-body > div > a:nth-child(4), #owindow-1 > div.content.modal-body > div > a:nth-child(3), #owindow-1 > div.content.modal-body > div > a:nth-child(2) {
    color: transparent !important;
    font-size: 0px !important;
}

#owindow-1 > div.content.modal-body > div > div > a:before {
    content: "Report";
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

#owindow-1 > div.button-bar.modal-footer > a:before {
    content: "Close";
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

#owindow-1 > div.content.modal-body > div > a:nth-child(4):before {
    content: "Add contact";
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

#owindow-1 > div.content.modal-body > div > a:nth-child(3):before {
    content: "Message";
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

#owindow-1 > div.content.modal-body > div > a:nth-child(2):before {
    content: "Profile";
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

#owindow-1 > div.button-bar.modal-footer > a.btn.btn-default.button.button-yes\,-revert::before {
    content: "Revert";
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
}

#lock-info {
    box-shadow: 0px 0px 4px #999999;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 95%;
    border: solid 1px grey;
    color: #191919;
}

#edit-page-form>table.edit-page-bottomtable>tbody>tr>td:nth-child(1)>div.sub,
#edit-page-form>table.form>tbody>tr>td:nth-child(1) {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

#edit-page-form>table.edit-page-bottomtable>tbody>tr>td:nth-child(1)>div:nth-child(1) {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.wd-editor-toolbar-panel ul li a {
    height: 22px;
    width: 22px;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 2px;
    filter: invert(1), hue-rotate(180deg);
    filter: invert(1) hue-rotate( 180deg);
}

.wd-editor-toolbar-panel {
    margin-bottom: 0.5rem;
}

textarea {
    font-family: 'Roboto', sans-serif;
    padding: 5px 5px 5px 5px;
    font-size: 105%;
    border: 0.13rem solid #949494;
    background-color: #FFF;
    color: #000;
    border-radius: 2px;
}

.page-source {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 105%;
    border: none;
    width: 80%;
    box-shadow: 0px 0px 4px #999999;
    padding: 18px 18px 18px 18px;
    word-break: break-word;
}

#page-content strong {
    font-weight: 900;
}

#top-bar ul li>a {
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
}

#top-bar ul li>a:hover {
    transform: translate(0px, -3px);
    border: none;
}

#top-bar ul li ul li>a:hover {
    animation: none;
}

.skewTilt:hover {
    animation: shrink 0.6s;
    animation-fill-mode: forwards;
}

@keyframes translateTop {
    0% {
     opacity: 1;
    }
    100% {
     transform: translate(0px, -3px);
    }
}

@keyframes slideLeft {
    0% {
     transform: translate(-200px, 0px);
     opacity: 0;
    }
    100% {
     opacity: 1;
    }
}

@keyframes shrink {
    0% {
     opacity: 1;
    }
    100% {
     transform: scale(0.9);
    }
}

@keyframes tilt {
    0% {
     opacity: 1;
    }
    100% {
     transform: rotate(360deg);
    }
}

#show-upload-button {
    float: unset;
    border-radius: 6px;
    border: solid 1px grey;
    font-size: 0.85rem;
}

.edit-help-34 {
    margin-top: 2px;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
}

.printuser a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

form, #action-area > p, table.page-files td span  {
    font-family: 'Work Sans', sans-serif;
}

#action-area > table > thead > tr, #revision-list > table > tbody > tr:nth-child(1) {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#page-info {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}

.button-bar.modal-footer a.btn.btn-danger, #owindow-1>div.content.modal-body>div>div>a {
    float: right !important;
    margin-top: -0.6rem;
}

td:nth-child(1) > a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

a.btn.btn-danger,
a.btn.btn-primary,
.btn-small,
#owindow-1>div.button-bar.modal-footer>a,
#edit-cancel-button,
#edit-diff-button,
#edit-preview-button,
#edit-save-draft-button,
#edit-save-continue-button,
#edit-save-button,
#owindow-1>div.content.modal-body>div>a.btn.btn-default {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 9px;
    background: rgb(20, 20, 20);
    border-radius: 2px;
    cursor: pointer;
    width: fit-content !important;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.3rem;
    margin-right: 0.35rem;
    float: left;
}

#footer,
#license-area {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

a.collapsible-block-link:hover,
a.btn.btn-danger:hover,
a.btn.btn-primary:hover,
.btn-small:hover,
#owindow-1>div.button-bar.modal-footer>a:hover,
#edit-cancel-button:hover,
#edit-diff-button:hover,
#edit-preview-button:hover,
#edit-save-draft-button:hover,
#edit-save-continue-button:hover,
#edit-save-button:hover,
#owindow-1>div.content.modal-body>div>a.btn.btn-default:hover {
    text-decoration: none;
    background: rgb(45, 45, 45);
}

#page-content div.collapsible-block {
    margin-top: 13px;
    margin-bottom: 13px;
}

div.collapsible-block-content {
    animation: fade 0.4s;
    animation-fill-mode: forwards;
}

.hovertip {
    background: rgb(25, 25, 25) !important;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    max-width: 400px;
}

.avatar-hover {
    display: none !important;
}

.f-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 80%;
}

.footnotes-footer .title {
    font-size: 0px;
    color: transparent;
    margin-bottom: 15px;
}

.footnotes-footer .title:before {
    content: "Footnotes \0026  References";
    color: rgb(25, 25, 25);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    font-family: 'Work Sans', sans-serif;
    cursor: text;
}

.footnotes-footer a {
    color: black;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

.footnotes-footer {
    border-left: solid 3px rgb(20, 20, 20);
    padding-left: 15px;
    margin-top: 6rem;
}

.footnote .f-footer,
.equation .e-footer,
.reference .r-footer {
    display: none;
}

#page-options-container a {
    color: rgb(45, 45, 45);
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 90%;
    text-transform: uppercase;
}

#page-options-container a:hover {
    text-decoration: none;
    color: rgb(2, 2, 2);
    animation: shrink 0.6s;
    animation-fill-mode: forwards;
}

#page-content .wiki-content-table tr th {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    border: solid 1px #5d5d5d;
    background-color: #d0d0d0;
}

#page-content .wiki-content-table tr th strong {
    font-weight: 700 !important;
}

#page-content .table1 tr th {
    background-color: #D7EFE7;
}
 
#page-content .table2 tr th {
    background-color: #D8ECF4;
}
 
#page-content .table3 tr th {
    background-color: #FDF6D7;
}
 
#page-content .table4 tr th {
    background-color: #FFDABF;
}
 
#page-content .table5 tr th {
    background-color: #F5D8E0;
}
 
#page-content .table6 tr th {
    background-color: rgba(146, 0, 255, 0.2);
}
 
.tableb .wiki-content-table {
    border-collapse: separate;
    border-spacing: 5px;
    padding-left: -100px;
}

.code pre, .code p, .code, tt {
    font-family: 'Fira Code', monospace;
}

#account-options {
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    width: fit-content;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    padding: 5px 5px 5px 5px;
    text-transform: uppercase;
}

#account-options a {
    filter: grayscale(100%) saturate(0%);
    -webkit-filter: grayscale(100%) saturate(0%);
    color: grey;
}

#page-content .quadrants>div {
    top: 2.25%;
    left: 18.5%;
}

.licensebox .collapsible-block-link,
.licensebox .collapsible-block-link:hover {
    background: none;
    text-transform: uppercase;
    font-weight: 700;
}

.fncon {
    background: rgb(25, 25, 25) !important;
    color: #EDEDED;
    border: 0.15rem solid rgb(20, 20, 20);
    border-radius: 2px;
    font-size: 90%;
}

/* ---- WORDS NO LONGER BROKEN, THE CROQUEMBOUCHE HAS SPOKEN ---- */
span, a { word-break: normal !important }

#main-content::before {
    color: #ffffff;
    content: "ⓘ PAGE DOES NOT INCLUDE LICENSING MODULE";
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    background: rgb(173 4 4);
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    margin-top: 3rem;
    display: block;
    width: fit-content;
    padding-right: 25px;
}

#page-title {
margin-top: 1rem;
}

#main-content::before {
    color: #ffffff;
    content: "ⓘ PAGE DOES NOT INCLUDE LICENSING MODULE";
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    background: rgb(173 4 4);
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    margin-top: 3rem;
    display: block;
    width: fit-content;
    padding-right: 25px;
}

#page-title {
margin-top: 1rem;
}

#main-content::before {
    color: #ffffff;
    content: "ⓘ AWAITING CC-BY-SA 3.0 VERIFICATION";
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    background: rgb(30, 30, 30);
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    margin-top: 3rem;
    display: block;
    width: fit-content;
    padding-right: 25px;
}

#page-title {
margin-top: 1rem;
}

#main-content::before {
    color: #ffffff;
    content: "ⓘ THIS PAGE IS BEING RE-WRITTEN";
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    background: rgb(30, 30, 30);
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    margin-top: 3rem;
    display: block;
    width: fit-content;
    padding-right: 25px;
}

#page-title {
margin-top: 1rem;
}

#main-content::before {
    color: #ffffff;
    content: "ⓘ THIS PAGE IS IN DELETION";
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    background: rgb(173 4 4);
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    margin-top: 3rem;
    display: block;
    width: fit-content;
    padding-right: 25px;
}

#page-title {
margin-top: 1rem;
}

#page-title {
margin-top: 1rem;
}

:root {

--barColour: #EDEDED !important;
--linkColour: rgb(20, 20, 20) !important;
--fnColor: #EDEDED;
--logo: url();

}

body {
    background: rgb(20, 20, 20);
    color: #EDEDED;
}

#extra-div-1 {
    background: rgb(35, 35, 35);
    background: linear-gradient( 180deg, rgb(10 10 10) 0%, rgba(35, 35, 35, 1) 100%);
}

#extra-div-1::before,
#extra-div-2::before {
    color: #F9F9F9;
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
    background-color: rgb(35, 35, 35);
}

#main-content::before {
border: 1px solid grey;
}

#search-top-box-form>input[type=submit],
#search-top-box-form>input[type=submit]:hover,
#search-top-box-form>input[type=submit]:focus,
#search-top-box-form>input[type=submit]:target {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23ddd%22%20d%3D%22M505%20442.7L405.3%20343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3%2044-79.7%2044-128C416%2093.1%20322.9%200%20208%200S0%2093.1%200%20208s93.1%20208%20208%20208c48.3%200%2092.7-16.4%20128-44v16.3c0%206.4%202.5%2012.5%207%2017l99.7%2099.7c9.4%209.4%2024.6%209.4%2033.9%200l28.3-28.3c9.4-9.4%209.4-24.6.1-34zM208%20336c-70.7%200-128-57.2-128-128%200-70.7%2057.2-128%20128-128%2070.7%200%20128%2057.2%20128%20128%200%2070.7-57.2%20128-128%20128z%22%2F%3E%3C%2Fsvg%3E") 50%/0.8rem no-repeat, transparent !important;
}

#u-sb-button {
    color: #EDEDED;
}

#side-bar {
    background: linear-gradient(
0deg
 , rgba(20, 20, 20, 1) 87%, rgba(5, 5, 5, 1) 100%);
}

#side-bar::before {
border-color: #EDEDED;
}

#side-bar a {
    color: #EDEDED;
}

#side-bar a:visited {
    color: #EDEDED;
}

#side-bar img,
iframe.scpnet-interwiki-frame {
    filter: grayscale(100%) saturate(0%) invert(100%);
    -webkit-filter: grayscale(100%) saturate(0%) invert(100%);
}

#side-bar .side-block {
    background: linear-gradient( 180deg, rgba(25, 25, 25, 1) 0%, rgba(10, 10, 10, 1) 100%);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
}

#side-bar .side-block.media {
    background-color: rgb(25, 25, 25) !important;
    border-bottom: solid 4px rgb(19, 19, 19);
    border-top: solid 2px rgb(19, 19, 19);
}

#side-bar .heading {
    color: #EDEDED;
    border-bottom: solid 1px #F9F9F9;
}

#side-bar .collapsible-block-folded {
    filter: invert(1);
}

#side-bar .collapsible-block-unfolded-link {
    border-bottom: solid 1px #EDEDED;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link,
#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
    color: #F9F9F9;
}

#side-bar .side-block.resources {
    background: #101010;
}

#main-content .page-tags a {
    background-color: rgb(30, 30, 30);
}

.document,
.raisa_memo,
.ettra_memo,
.temporal_memo,
.overwatch_memo,
.ethics_memo,
.classification_memo,
.miscomm_memo,
.scp-image-block {
    color: rgb(10, 10, 10);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
}

.document .fnnum::after,
.raisa_memo .fnnum::after,
.ettra_memo .fnnum::after,
.temporal_memo .fnnum::after,
.overwatch_memo .fnnum::after,
.ethics_memo .fnnum::after,
.classification_memo .fnnum::after,
.miscomm_memo .fnnum::after {
color: rgb(20, 20, 20);
}

.fncon::before {
background-color: rgb(20, 20, 20) !important;
border: solid 1px #3e3e3e;
}

.darkdocument {
box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
}

a {
    color: #7aa4eb;
}

a.newpage {
    color: #e6735c;
}

a:visited {
    color: #837ccf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #EDEDED;
}

#top-bar,
#top-bar a {
    color: #EDEDED;
}

#page-options-container a {
    color: #EDEDED;
}

#page-options-container a:hover {
    color: #CCCCCC;
}

#footer,
#license-area {
    color: grey;
}

#footer,
#footer a {
    color: #bfbfbf;
}

textarea {
    color: #EDEDED;
    background-color: rgb(20, 20, 20);
}

input.text {
    color: #EDEDED;
    background-color: rgb(15, 15, 15);
}

#lock-info {
    background: rgb(20, 20, 20);
    color: #EDEDED;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 55, 55);
}

::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
}

#owindow-1 {
    background: #0C0C0C;
    border: solid 0.15rem #080808;
}

#owindow-1>div.title.modal-header {
    background: rgb(6, 6, 6);
}

#owindow-1>div.content.modal-body>table {
    border-right: solid 2px #292929;
}

#owindow-1>div.content.modal-body>div {
    border-top: solid 0.2rem rgb(19 19 19);
}

.autocomplete-list li.yui-ac-highlight {
    background-color: rgb(10, 10, 10);
}

.autocomplete-list li {
    background-color: rgb(20, 20, 20);
}

#login-status,
#login-status a {
    color: #EDEDED;
}

#account-topbutton {
    border: none;
}

blockquote,
div.blockquote,
.blockquote {
    background: rgb(25, 25, 25);
    border-color: rgb(25, 25, 25);
    color: #EDEDED;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
}

.scp-image-block .scp-image-caption {
    background-color: rgb(10, 10, 10);
    border-top: solid 4px rgb(10, 10, 10);
    color: #EDEDED;
}

.scp-image-block {
    border: solid 8px rgb(10, 10, 10);
}

.scp-image-block img {
background: rgb(10, 10, 10);
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    color: #EDEDED;
    background-color: rgb(30, 30, 30);
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
    border: none;
    box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 70%);
}

a.btn.btn-danger,
a.btn.btn-primary,
.btn-small,
#owindow-1>div.button-bar.modal-footer>a,
#edit-cancel-button,
#edit-diff-button,
#edit-preview-button,
#edit-save-draft-button,
#edit-save-continue-button,
#edit-save-button,
#owindow-1>div.content.modal-body>div>a.btn.btn-default,
a.collapsible-block-link {
    border: solid 1px #444444;
}

#page-title {
    color: #EDEDED;
}

#login-status {
    right: 1.5rem;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
    background: rgb(20, 20, 20);
    color: #EDEDED;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
    background: transparent;
    color: inherit;
    border-left: solid 1px rgba(64, 64, 64, 1);
    border-right: solid 1px rgba(64, 64, 64, 1);
}

#account-options {
    background: rgb(30, 30, 30);
    border: solid 2px #353535;
}

#login-status ul a {
    color: #e0e0e0;
}

#account-options li a:hover {
    color: #b5b5b5;
}

#page-content .page-rate-widget-box,
#page-content .rate-box-with-credit-button {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
}

#page-content .rate-box-with-credit-button {
    background-color: #0c0c0c;
    border: solid 1px #0c0c0c;
}

#page-content .rate-box-with-credit-button .fa-info {
    color: #CECECE;
}

#page-content .page-rate-widget-box .rate-points {
    background-color: #0C0C0C !important;
    color: #F5F5F5 !important;
    border: solid 1px #0C0C0C;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
    background: #0C0C0C;
}

.page-rate-widget-box .cancel {
    background-color: #0C0C0C;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a {
    color: #CECECE;
}

.modalbox {
    background: #0C0C0C;
    border: solid 0.15rem #080808;
}

table.page-files .highlight {
    background-color: rgba(0, 0, 0, 0.7);
}

.footnotes-footer .title::before {
    color: #EDEDED;
}

.footnotes-footer a {
    color: grey;
}

.footnotes-footer {
    border-left: solid 3px grey;
}

.page-source {
    background: transparent;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
    border: solid 0.15rem rgb(30, 30, 30);
}

#page-content .wiki-content-table tr th {
    font-weight: 700;
    background-color: #aaa;
    border: none !important;
    color: #111 !important;
}

#page-content .table1 tr th {
    background-color: rgb(var(--one-color)) !important;
}
 
#page-content .table2 tr th {
    background-color: rgb(var(--two-color)) !important;
}
 
#page-content .table3 tr th {
    background-color: rgb(var(--three-color)) !important;
}
 
#page-content .table4 tr th {
    background-color: rgb(var(--four-color)) !important;
}
 
#page-content .table5 tr th {
    background-color: rgb(var(--five-color)) !important;
}
 
#page-content .table6 tr th {
    background-color: #b8f;
}

/* DARK MODE ACS BY NAGIROS (NIGHT RUSH) */
/* And God saw all that He had made, and behold, it was very good. */

:root {
  --five-color: 255, 34, 68 !important;   /*  red  */
  --four-color: 255, 141, 54 !important;   /*  orange  */
  --three-color: 255, 226, 82 !important;   /*  yellow  */
  --two-color: 40, 135, 189 !important;   /*  blue  */
  --one-color: 0, 160, 40 !important;   /*  green  */
 
  --white-bar: 207, 207, 207;
  --lg-bar: 118, 118, 130;
  --gray-bg: 66, 66, 72;
}
 
.anom-bar > .bottom-box {   /*  horizontal bar  */
  box-shadow: 0 -0.5rem 0 0 rgb(207, 207, 207) !important;
  -webkit-box-shadow: 0 -0.5rem 0 0 rgb(207, 207, 207) !important;
  -moz-box-shadow: 0 -0.5rem 0 0 rgb(207, 207, 207) !important;
  box-shadow: 0 -0.5rem 0 0 rgb(var(--white-bar, 207, 207, 207)) !important;
  -webkit-box-shadow: 0 -0.5rem 0 0 rgb(var(--white-bar, 207, 207, 207)) !important;
  -moz-box-shadow: 0 -0.5rem 0 0 rgb(var(--white-bar, 207, 207, 207)) !important;
}
.bottom-box > .diamond-part {   /*  vertical bar  */
  box-shadow: -0.5rem 0 0 0 rgb(207, 207, 207) !important;
  -webkit-box-shadow: -0.5rem 0 0 0 rgb(207, 207, 207) !important;
  -moz-box-shadow: -0.5rem 0 0 0 rgb(207, 207, 207) !important;
  box-shadow: -0.5rem 0 0 0 rgb(var(--white-bar, 207, 207, 207)) !important;
  -webkit-box-shadow: -0.5rem 0 0 0 rgb(var(--white-bar, 207, 207, 207)) !important;
  -moz-box-shadow: -0.5rem 0 0 0 rgb(var(--white-bar, 207, 207, 207)) !important;
}
.anom-bar-container.esoteric .text-part .main-class,
.anom-bar-container.explained .text-part .main-class,
.anom-bar-container.neutralized .text-part .main-class,
.anom-bar-container.pending .text-part .main-class {
  background-color: rgba(66, 66, 72, .5) !important;
  background-color: rgba(var(--gray-bg, 66, 66, 72), .5) !important;
  border-left-color: rgb(118, 118, 130) !important;
  border-left-color: rgb(var(--lg-bar, 118, 118, 130)) !important;
}
.danger-diamond > .arrows,
.danger-diamond > .bottom-icon::before {   /*  inverted arrows, esoteric icons  */
  filter: invert(90%) !important;
  -webkit-filter: invert(90%) !important;
}
.danger-diamond > .quadrants > .bottom-quad,
.anom-bar-container.explained .danger-diamond > .quadrants > .top-quad,
.anom-bar-container.neutralized .danger-diamond > .quadrants > .top-quad,
.anom-bar-container.pending .danger-diamond > .quadrants > .top-quad {   /*  "transparent" bottoms/top icon backgrounds  */
  background-color: rgb(26, 26, 26) !important;   /*  body background color  */
}
.danger-diamond > .bottom-icon,
.anom-bar-container.pending .danger-diamond > .top-icon::before {   /*  esoteric, pending icon backgrounds  */
  background-color: rgb(3, 3, 3) !important;
}

.acs-hybrid-text-bar > .acs-clear > .clearance-level-text::before,
.acs-hybrid-text-bar > .acs-disrupt .disruption-class-number::before,
.acs-hybrid-text-bar > .acs-risk .risk-class-number::before {   /*  hybrid text fixes  */
  color: rgb(237, 237, 237) !important;   /*  text color  */
}

#page-content .contain-class .class-text::before {
    color: rgb(237, 237, 237) !important;
}

.acs-hybrid-version.acs-yes .acs-secondary,
.acs-hybrid-version.acs-esoteric .acs-contain,
.acs-hybrid-version.acs-explained .acs-contain,
.acs-hybrid-version.acs-neutralized .acs-contain,
.acs-hybrid-version.acs-pending .acs-contain {   /*  hybrid vertical bars  */
  box-shadow: inset 0.5rem 0 0 0 rgb(118, 118, 130) !important;
  -webkit-box-shadow: inset 0.5rem 0 0 0 rgb(118, 118, 130) !important;
  -moz-box-shadow: inset 0.5rem 0 0 0 rgb(118, 118, 130) !important;
  box-shadow: inset 0.5rem 0 0 0 rgb(var(--lg-bar, 118, 118, 130)) !important;
  -webkit-box-shadow: inset 0.5rem 0 0 0 rgb(var(--lg-bar, 118, 118, 130)) !important;
  -moz-box-shadow: inset 0.5rem 0 0 0 rgb(var(--lg-bar, 118, 118, 130)) !important;
}
.acs-hybrid-version.acs-pending .acs-contain {
  background-color: rgba(66, 66, 72, .5) !important;
  background-color: rgba(var(--gray-bg, 66, 66, 72), .5) !important;
}

hr {
    background-color: grey;
}

.notation {
    border-left: solid 3px rgb(60, 60, 60);
    border-right: solid 3px rgb(60, 60, 60);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
    background: rgb(30, 30, 30);
}

.modal {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
    background: rgb(20, 20, 20);
    border: solid 2px rgb(40, 40, 40);
}

.jotting {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.7);
    background: rgb(15, 15, 15);
    border: dashed 0.1rem #6F6F6F;
}
